html, body {
  height: 100%
}

#app {
  height: 100%;
}

#content {
  padding-top: 56px;
  height: 100%;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  background: #fff !important;
  box-shadow: 0 0px 5px rgba(100, 100, 100, 0.4);
}
